*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
    background-color: white;
}
/*form start*/
#login-form, #register-form{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background: rgba(0, 0, 0, 0.4);
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.form-tittle{
    text-align: center;
    margin-bottom: 40px;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
}
.form-input-container input{
    display: block;
    outline: none;
    border: 1px solid #000;
    width: 300px;
    padding: 10px 7px;
    margin: 10px 0px;
    transition: 0.2s ease-in-out;
}
.form-input-container input:focus{
    color: #8071b3;
    border-color: #8071b3;
}
.form-sumbit{
    padding: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: #8071b3;
}
.form-question{
    font-size: 14px;
    margin-top: 7px;
}
.form-question a{
    color: #8071b3;
    cursor: pointer;
}
/*form end*/
.header{
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    top: 0;
    z-index: 1;
}
.header .wrapper h1{
    display: flex;
    font-size:  35px;
}
.header-search{
    position: relative;
}
.header-search .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-search .wrapper h1{
    width: 50px;
}
.header-icon-container{
    display: flex;
    justify-content: space-between;
    width: 50px;
}
.header-icon-container a{
    font-size: 25px;
    color: #000;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.header-icon-container a:hover{
    color: #8071b3;
}
.header-contact-info{
    background: #fff;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-contact-info .wrapper{
    display: flex;
    justify-content: flex-end;
    background: #fff;
}
.header-contact-info .wrapper div{
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}
.header-contact-info .wrapper div i{
    font-size: 20px;
    color: #8071b3;
}
.header-contact-info .wrapper div p{
    transition:  0.2s ease-in-out;
    font-size: 15px;
    margin-left: 5px;
}
.header-contact-info div p:hover{
    color: #8071b3;
}
#cart-container{
    display: none;
    position: absolute;
    margin-top: 35px;
    padding: 20px;
    background: #fff;
    border: 1px solid #000;
}
.search{
    display: inline-flex;
    align-items: center;
}
.search input{
    background: #f5f5f5;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.search button{
    background: #8071b3;
    border: none;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.header-menu{
    background: #8071b3;
}
.header-menu .wrapper{
    background: #8071b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.header-menu .wrapper a{ 
    margin: 0px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.header-menu .wrapper a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 950px){
    .search input{
        background: #ddd;
        width: 300px;
        border: none;
        outline: none;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 370px){
    .header-menu .wrapper a{ 
        margin: 0px 10px;
    }
}
/*cart start*/
.cart-container{
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    right: 5%;
    display: none;
    width: 350px;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    color: #000;
    z-index: 2;
}
.cart-container p{
    font-size: 18px;
    padding: 20px;
}
.cart-product-info{
    padding: 20px;
    color: #ddd;
}
/*cart end*/
/*responsive header*/
.header-responsive-search{
    display: inline-flex;
}
.header-responsive-search input{
    position: relative;
    width: 150px;
    outline: none;
    padding: 5px 10px;
    border: none;
    background: #ddd;
}
.header-responsive-search button{
    cursor: pointer;
    background: #ddd;
    outline: none;
    padding: 5px;
    border: none;
}
.responsive-navigation-button{
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.header-responsive-menu a{ 
    display: block;
    color: #000;
    font-size: 14px;
    margin: 10px 0px;
    text-align: end;
}
.header-responsive-icon-container a{
    color: #000;
    font-size: 17px;
}
.header-responsive-menu a:hover, .header-responsive-icon-container a:hover{
    color: #8071b3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.header-responsive-navigation-container{
    width: 250px;
    padding: 20px;
    background: #fff;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    animation-name: slideRight;
    animation-duration: 0.4s;
}
#close{
    display: inline;
    font-size: 35px;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s ease-in-out;
    animation-name: slideTop;
    animation-duration: 0.2s;
}
#close:hover{
    color: #fff;
}
.header-responsive-navigation{
    z-index: 1;
    overflow: auto;
    display: none;
    justify-content: space-between;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 0.2s;
}
@keyframes fade{
    from {opacity: 0.5;}
    to {opacity: 1;}
}
@keyframes slideRight{
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}
@keyframes slideTop{
    from {transform: translateY(10%);}
    to {transform: translateY(0%);}
}
@media only screen and (max-width: 850px){
    .responsive-navigation-button{
        display: block;
    }
    .search, .header-icon-container, .header-menu{
        display: none;
    }
}
@media only screen and (max-width: 320px){
    .header-responsive-navigation-container{
        padding: 10px;
    }
    .header-responsive-search input{
        width: 100px;
    }
}
/*footer*/
.footer{
    position: relative;
    background: #ddd;
    padding: 20px 0px;
}
.footer .wrapper{
    background: #ddd;
    display: flex;
    align-items: center;
}
.footer .wrapper a{
    color: #000;
    margin: 0px 5px;
    font-size: 25px;
    transition: 0.2s ease-in-out;
}
.footer .wrapper a:hover{
    color: #8071b3;
}
@media only screen and (max-width: 1250px){
    .wrapper{
        width: 95%;
    }
    .cart-container{
        right: 1%;
    }
}
