.view-all{
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    background: #8071b3be;
    border: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.view-all:hover{
    background: #8071b3;
}
.purple-line{
    border: 2px solid #8071b3;
    width: 100%;
    height: 0;
}
.tittle-container{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.tittle{
    color: #8071b3;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 800px;
}
/* slider */
.slider{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.slider:hover #prevBtn{
    transition: 0.2s ease-in-out;
    opacity: 1;
}
.slider:hover #nextBtn{
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.slide-container{
    display: flex;
    transition: 0.2s ease-in-out;
    height: 83vh;
}
.slide{
    width: 100vw;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
#prevBtn, #nextBtn{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 35px;
    border-radius: 900px;
    border: 2px solid #ddd;
    background: none;
    color: #ddd;
    margin: 0px 20px;
    transition: 0.2s ease-in-out;
}
#nextBtn:hover, #prevBtn:hover{
    background: #8071b3;
    color: #fff;
    border: 2px solid #8071b3 ;
}
#nextBtn{
    right: 0;
}
.brand{
    padding: 50px 0px;
}
/*brand start*/
.brand-top{
    display: flex;
    justify-content: space-between;
}
.brand-bottom{
    padding: 10px;
}
.brand-left-col{
    width: 40%;
    padding: 20px;
}
.brand-name{
    color: #8071b3;
    font-size: 3rem;
}
.brand-content{
    font-size: 18px;
}
.brand-right-col{
    overflow: hidden;
    width: 55%;
}
.brand-right-col-container{
    display: flex;
    width: 100%;
}
.brand-slider-img-container{
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 300px;
}
.brand-slider-img-container:hover img{
    transform: scale(1.1);
}
.brand-slider-img-container img{
    transition: 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}
/*brand end*/
/*akko start*/
.akko, .akko .wrapper, .razer, .razer .wrapper{
    background: #f5f5f5;
}
.akko .brand-top, .razer .brand-top{
    flex-direction: row-reverse;
}
.akko .brand-left-col, .razer .brand-left-col{
    text-align: end;
}
.akko .brand-bottom, .razer .brand-bottom{
    text-align: end;
}
/*akko end*/
/* top seller start */
/* top seller end */
/*product*/
.product-row{
    display: flex;
    justify-content: space-between;
}
.product{
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.product-img{
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.product-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product-info{
    width: 100%;
    padding: 10px;
}
.product-name{
    font-size: 15px;
    height: 70px;
    overflow: hidden;
}
.product-price{
    color: #8071b3;
    font-size: 15px;
    display: flex;
    height: 30px;
    align-items: center;
}
.product-discount{
    padding: 5px;
    margin-left: 5px;
    background: #8071b3;
    color: #fff;
}
@media only screen and (max-width: 1680px){
    .product{
        width: 300px;
    }
}
@media only screen and (max-width: 1450px){
    .product{
        width: 250px;
    }
    .product-img{
        height: 250px;
    }
}
@media only screen and (max-width: 1000px){
    .product-info div{
        font-size: 14px;
    }
    .product-name{
        height: 65px;
        margin-bottom: 20px;
    }
    .product-img{
        height: 200px;
    }
}
@media only screen and (max-width: 800px){
    .product-img{
        height: 150px;
    }
}
@media only screen and (max-width: 500px){
    .product-img{
        height: 100px;
    }
    .product-info div{
        font-size: 12px;
    }
    .product-name{
        height: 50px;
        margin-bottom: 20px;
    }
}
/*product end*/
.discount{
    margin-bottom: 40px;
}
/* top seller */
.top-seller{
    padding: 20px 0px;
}

.top-seller-container .product-row:nth-child(2){
    margin-top: 20px;
}

@media only screen and (max-width: 1200px){
    .tittle{
        font-size: 2.5rem ;
    }
}
@media only screen and (max-width: 650px){
    .tittle{
        font-size: 2rem ;
    }
}