
a{
    text-decoration: none;
}
.tittle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tittle{
    width: 580px;
    text-align: center;
}
.line{
    width: 100%;
    height: 0;
    border: 1px solid black;
}
/* slider */
.slider{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.slider:hover #prevBtn{
    display: inline-flex;
}
.slider:hover #nextBtn{
    display: inline-flex;
}
.slide-container{
    display: flex;
    transition: 0.2s ease-in-out;
}
.slide-container img{
    max-width: 100%;
}
.slider-button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
#prevBtn, #nextBtn{
    cursor: pointer;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border-radius: 900px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    margin: 0px 20px;
    transition: 0.2s ease-in-out;
}
#nextBtn:hover{
    background: #8071b3;
    border: 2px solid #8071b3 ;
}
#prevBtn:hover{
    background: #8071b3;
    border: 2px solid #8071b3 ;
}
#nextBtn{
    right: 0;
}

/* product line */
.product-line{
    margin: 20px 0px;
}
.product-line-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-line-content{
    width: 30%;
    overflow: hidden;
}
.product-line-content img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.product-line-content:hover img{
    transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
    .product-line-container{
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
    .product-line-content{
        width: 100%;
    }
    .product-line-content:nth-child(2){
        margin: 20px 0px;
    }

}

/*newest product */
.view-all{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.view-all a{
    color: #000;
    transition: 0.2s ease-in-out;
}
.view-all a:hover{
    color: #8071b3;
}
.newest-product{
    padding: 20px 0px;
    background: #f5f5f5;
}
.newest-product .wrapper{
    background: #f5f5f5;
}
.newest-product-container .product-row:nth-child(2){
    margin-top: 20px;
}
/*product*/
.product-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
.product{
    width: 20%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-img{
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
.product-img img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product-info{
    padding: 10px;
}
.product-name{
    font-size: 14px;
    height: 40px;
}
.product-price{
    font-size: 14px;
    color: #8071b3;
}
/*product end*/
/* top seller */
.top-seller{
    padding: 20px 0px;
}

.top-seller-container .product-row:nth-child(2){
    margin-top: 20px;
}

/* accessories */
.accessories{
    padding: 20px 0px;
}
/*footer*/
