.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
}
.form-container form{
    background: #8071b3;
    padding: 3rem;
    border-radius: 20px;
}
.row{
    text-align: center;
    margin: 15px 0px;
}
.tittle{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
}
.row input{
    padding: 5px 7px;
    font-weight: bolder;
    outline: none;
    border: none;
    border-bottom: 2px solid #dddddd;
    color: #dddddd;
    background: none;
    transition: 0.3s ease-in-out;
}
.row input:focus{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.row button{
    width: 100%;
    padding: 10px 0px;
    font-size: 1rem;
    border: none;
    background: #fff;
    transition: 0.3s ease-in-out;
}
.row button:hover{
    background: #dddddd;
}