
/* body start */
.body{
    padding: 20px 0px;
    display: flex;
    min-height: 77.5vh;
}
.body-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

/* category start */
.category{
    position: fixed;
    width: 300px;
    color: #8071b3;
    font-size: 18px;
    padding: 20px;
}
.category-choice-container{
    cursor: pointer;
}
.dropdown{
    display: none;
    margin-left: 15px;
}
/* category end */
/* shop start */
.shop{
    margin-left: 250px;
    width: 80%;
}
.product-container{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}
@keyframes fadeInn{
    from{transform: translateX(100%);}
    to{transform: translateX(0%);}
}
.product-content{
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: none;
}
.product-img{
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.product-img img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    transition: 0.2s ease-in-out;
}
.product-content:hover .product-img img{
    transform: scale(1.1);
}
.product-info{
    width: 250px;
    padding: 10px;
}
.product-name{
    font-size: 15px;
    height: 65px;
    margin-bottom: 10px;
    overflow: hidden;
}
.product-price--add-to-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price{
    color: #8071b3;
    display: flex;
    font-size: 15px;
    align-items: center;
}
.product-discount{
    padding: 2px 8px;
    font-size: 14px;
    margin-left: 5px;
    background: #8071b3;
    color: #fff;
}
.add-to-cart{
    padding: 5px;
    background: #8071b3be;
    color: #fff;
    font-size: 14px;
    transition:  0.3s ease-in-out;
}
.add-to-cart:hover{
    background: #8071b3;
}
/* shop end */
/*cart product start*/
.cart-product-container{
    padding: 10px;
    overflow: hidden;
}
.cart-product{
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.cart-product-img img{
    width: 150px;
    height: 50px;
    object-fit: cover;
}
.cart-remove-btn{
    padding: 5px;
    background: #8071b3;
    color: #fff;
    cursor: pointer;
    border: none;
}
/*cart product end*/
.price-searcher{
    padding: 5px 7px;
    margin-top: 5px;
    outline: none;
}
@media only screen and (max-width: 1250px){
    .body-wrapper{
        width: 95%;
    }
}
.show{
    display: block;
}
/* body end */
