*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}
a{
    text-decoration: none;
}
/* header */
.header{
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    top: 0;
}
.header-search .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-search .wrapper h1{
    width: 100px;
}
.header-icon-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.header-icon-container button{
    font-size: 25px;
    background: none;
    border: none;
}
.search{
    display: inline-flex;
    align-items: center;
    border: 1px #ddd solid;
    border-radius: 5px;
}
.search input{
    background: #ddd;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.search button{
    background: #ddd;
    border: none;
    padding: 10px;
}
.header-menu{
    background: #ddd;
}
.header-menu .wrapper{
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.header-menu .wrapper a{ 
    margin: 0px 20px;
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width: 1235px){
    .header-search, .header-menu{
        display: flex;
        justify-content: center;
    }
    .header-search .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (max-width: 825px){
    .search input{
        background: #ddd;
        width: 200px;
        border: none;
        outline: none;
        padding: 10px 10px;
    }
}

/* slider */
.slider{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.slide-container{
    display: flex;
    overflow: hidden;
}
.slide-container img{
    max-width: 100%;
}
.radio-container{
    display: none;
}
.navigation-manual{
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.navigation-manual label{
    padding: 6px;
    opacity: 0.5;
    border: 2px solid #ddd;
    border-radius: 900px;
    margin-bottom: 20px;
    cursor: pointer;
}
.navigation-manual label:hover{
    opacity: 1;
    transition: 0.5s;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -50%;
}
#radio3:checked ~ .first{
    margin-left: -100%;
}