*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}
a{
    text-decoration: none;
}
.tittle{
    margin-bottom: 40px;
}
/* header */
.header{
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    top: 0;
}
.header-search .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-search .wrapper h1{
    width: 100px;
}
.header-icon-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.header-icon-container button{
    font-size: 25px;
    background: none;
    border: none;
}
.search{
    display: inline-flex;
    align-items: center;
    border: 1px #ddd solid;
    border-radius: 5px;
}
.search input{
    background: #ddd;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.search button{
    background: #ddd;
    border: none;
    padding: 10px;
}
.header-menu{
    background: #ddd;
}
.header-menu .wrapper{
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.header-menu .wrapper a{ 
    margin: 0px 20px;
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width: 1235px){
    .header-search, .header-menu{
        display: flex;
        justify-content: center;
    }
    .header-search .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (max-width: 825px){
    .search input{
        background: #ddd;
        width: 200px;
        border: none;
        outline: none;
        padding: 10px 10px;
    }
}

/* slider */
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.slide-container{
    width: 100%;
    display: flex;
    transition: 0.2s ease-in-out;
}
.slide-container img{
    transition:1s ease-in-out;
    max-width: 100%;
}
.slider-button-container{
    width: 97%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.slider-button-container button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 900px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    opacity: 0;
}
.slider:hover .slider-button-container button{
    transition: 0.2s ease-in-out;
    opacity: 1;   
}
.slider-button-container button:hover{
    background: #8071b3;
    transition: 0.2s ease-in;
    border: #8071b3;
}

/* product line */
.product-line{
    margin: 20px;
}
.product-line .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-line-img-container img:hover{
    transform: scale(1.1);
}