*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
a{
    text-decoration: none;
}
.tittle{
    text-align: center;
    margin-bottom: 20px;
}
/* header */
.header{
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    top: 0;
    z-index: 1;
}
.header-search .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-search .wrapper h1{
    width: 100px;
}
.header-icon-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.header-icon-container button{
    font-size: 25px;
    background: none;
    border: none;
}
.search{
    display: inline-flex;
    align-items: center;
    border: 1px #ddd solid;
    border-radius: 5px;
}
.search input{
    background: #ddd;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.search button{
    background: #ddd;
    border: none;
    padding: 10px;
}
.header-menu{
    background: #ddd;
}
.header-menu .wrapper{
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.header-menu .wrapper a{ 
    margin: 0px 20px;
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width: 825px){
    .search input{
        background: #ddd;
        width: 200px;
        border: none;
        outline: none;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 710px){
    
}

/* slider */
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.slide-container{
    width: 100%;
    display: flex;
    transition: 0.2s ease-in-out;
}
.slide-container img{
    transition:1s ease-in-out;
    max-width: 100%;
}
.slider-button-container{
    width: 97%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.slider-button-container button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 900px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    opacity: 0;
}
.slider:hover .slider-button-container button{
    transition: 0.2s ease-in-out;
    opacity: 1;   
}
.slider-button-container button:hover{
    background: #8071b3;
    transition: 0.2s ease-in;
    border: #8071b3;
}

/* product line */
.product-line{
    margin: 20px 0px;
}
.product-line-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-line-content{
    width: 30%;
    overflow: hidden;
}
.product-line-content img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.product-line-content:hover img{
    transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
    .product-line-container{
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
    .product-line-content{
        width: 100%;
    }
    .product-line-content:nth-child(2){
        margin: 20px 0px;
    }

}

/*newest product */
.newest-product{
    padding: 20px 0px;
    background: #f5f5f5;
}
.newest-product .wrapper{
    background: #f5f5f5;
}
.newest-product-container .product-row:nth-child(2){
    margin-top: 20px;
}
/*product*/
.product-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
.product{
    width: 20%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-img{
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
.product-img img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.product-img:hover img{
    transform: scale(1.1);
}
.product-info{
    padding: 10px;
}
.product-name{
    font-size: 14px;
    height: 40px;
}
.product-price{
    font-size: 14px;
    color: #8071b3;
}
/*product end*/
/* top seller */
.top-seller{
    padding: 20px 0px;
}

.top-seller-container .product-row:nth-child(2){
    margin-top: 20px;
}

/* accessories */
.accessories{
    padding: 20px 0px;
}



@media only screen and (max-width: 1235px){
    .wrapper{
        width: 95%;
    }
}